/* HEADER */
.home__header{
    text-align: center;
}
.home__header--box-logo {
    margin: 15px auto 30px;
    width: 180px;
}

.home__header--logo {
    width: 100%;
    border-radius: 50%;
    border: solid 1px var(--colorGris);
}

.home__header--bars{
    background-color: var(--colorGris);
    color: white;
    width: 50px;
    padding: 8px;
    margin: 0 auto 30px;
    display: inline-block;
    border-radius: 3px;
    
}

/* MAIN */



/* FOOTER */